.btn-primary {
    color: white;
    background-color: purple;
    border-color: white;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 10px;
}
.col-md-4 {
  height: 50px;
}
.red {
  background-color: green;

}
.green {
  background-color: yellow;
}
.blue {
  background-color: green;
}
.color{
  background-color: black;
}
.img-responsive{
   background-image: url('../img/Barrelroom.jpg');
   height: 500px;
   background-position: center;
   background-size: cover;
}
.color{
  background-color: brown;
}
